body {
    background-image: url('../images/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid white;
    margin: 0;
    height: 398px;
    width: 398px;
    overflow: hidden;
    pointer-events: none;
    cursor: none;
}

.container {
    margin: auto;
}

.v-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.h-center {
    color: white;
    font-size: 80px;
    margin: auto;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    -ms-transform: unset;
    text-align: center;
    width: 400px;
    font-family: 'Orbitron', sans-serif;
}